@media only screen and (min-width: 260px) {
    .home-description {
        width: auto;
    }

    .paragraph-h1 {
        font-size: 1.55em;
        letter-spacing: 10px;
    }

    .subtitle-h2 {
        font-size: 1.4em;
    }
}


@media only screen and (min-width: 365px) {
    .paragraph-h1 {
        font-size: 2.5em;
        letter-spacing: 20px;
    }

    .subtitle-h2 {
        font-size: 1.75em;
        font-weight: 400;
    }
}

/* @media only screen and (min-width: 680px) {
    .containers-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
} */

@media only screen and (min-width: 990px) {
    .home-menubar {
        background: transparent;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }

    .menu-mobile img {
        display: none;
    }

    .home-menubar-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: auto;
    }

    .home-menubar-links li {
        position: static;
    }

    .link,
    .home-button {
        color: #FFF;
    }

    .home-description {
        max-width: 840px;
    }

    .home-main {
        width: 100%;
        background: #dfdfdf;
    }
    
    .home-main main {
        padding: 10px 0;
        height: 100%;
        margin: 0 auto;
    }
    
    .containers-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    
    .images {
        overflow: hidden;
        border-radius: 5px;
        background: #FFF;
    }
    
    .images img {
        display: block;
        max-width: 100%;
        transition: .6s;
    }
    
    .images img:hover {
        filter: grayscale(100%);
        transform: scale(1.1);
    }
    
    .home-footer {
        height: 150px;
        background: #101010;
    }
    
    .footer {
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .social-footer {
        display: flex;
        width: 60px;
        justify-content: space-between;
        align-items: center;
    }

    
}